.sidebar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 280px;
  background: linear-gradient(to bottom, #2196F3 0%, #4caf93 100%);
  padding-top: 80px;
  padding-bottom: 1rem;
  box-shadow: 2px 0 10px rgba(255, 255, 255, 0.115);
  transition: background 0.3s;
  overflow-y: auto;
  z-index: 1000;
}

.sidebar.open {
  display: block;
}

.menu-item {
  cursor: pointer;
  padding: 1rem;
  transition: box-shadow 0.3s, background 0.3s;
  border-radius: 5px;
  margin: 0.5rem 0;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  font-weight: 800;
}

.menu-item:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  background: rgba(33, 150, 243, 0.1);
}

.menu-item.selected {
  background: rgba(33, 150, 243, 0.2);
  color: #fffefe;
} 